
.background-container {
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.Sw59N7wcaJEvzszKPC9gpwHaEJ&pid=Api&P=0&h=180'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: white;
}


.background-container .row {
    margin-top: 20px;
    color: #fff;
}

input, button {
    border-radius: 8px;
}


.list-group-item {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    margin-bottom: 10px;
}
